In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://localhost:22017')
print(client)

MongoClient(host=['localhost:22017'], document_class=dict, tz_aware=False, connect=True)

What is NOSQL?
As per the official wiki definition:
    A NoSQL database provides a mechanism for storage and retrieval of data that is 
    modeled in means other than the tabular relation used in relation database.
    
    It encompasses a wide variety of different database technologies that were developed 
    in response to a rise in the volume of data stored about

In [3]:
from pymongo import *
myclient=MongoClient(port=27017)

In [4]:
myclient.list_database_names()

['admin',
 'bookdb',
 'business',
 'college',
 'config',
 'hotels',
 'local',
 'mydatabase',
 'student_db']

Important : MongoDB  waits until you have created a collection(table), 
with at least one document before it actually creates the database.

In [5]:
mydb = myclient["stud_db"]
mycol = mydb["student"]

s1 = {'name':'Dhammadip Bharane', 'address':'Vadgaon(bk)'}
mycol.insert_one(s1)

print(myclient.list_database_names())
print(mydb.list_collection_names())

#check if collection is exists
collist = mydb.list_collection_names()
for col in collist:
    if "student" in collist:
        print("The collection student exists")

['admin', 'bookdb', 'business', 'college', 'config', 'hotels', 'local', 'mydatabase', 'stud_db', 'student_db']
['student']
The collection student exists

In [6]:
mydb.list_collection_names()

['student']

In [7]:
mycol.find_one()

{'_id': ObjectId('64bd07d223bfe23d766ae18e'),
 'name': 'Dhammadip Bharane',
 'address': 'Vadgaon(bk)'}

In [8]:
mycol.find()
for doc in mycol.find():
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae18e'), 'name': 'Dhammadip Bharane', 'address': 'Vadgaon(bk)'}

In [9]:
my_list = [{'name':'Milid','address':'Vadgaon, Pune'},
          {'name':'Ankush','address':'Parner, Pune'},
          {'name':'Prachi','address':'Katraj, Pune'},
          {'name':'Abhijit','address':'Vadgaon, Pune'},
          {'name':'Ashish','address':'Kothrud, Pune'}]
mycol.insert_many(my_list)

In [10]:
mydb.drop_collection('student')

{'nIndexesWas': 1, 'ns': 'stud_db.student', 'ok': 1.0}

In [37]:
mydb = myclient["stud_db"]
mycol = mydb["student"]
mylist = [{'name':'Milid','address':'Vadgaon, Pune'},
          {'name':'Ankush','address':'Parner, Pune'},
          {'name':'Prachi','address':'Katraj, Pune'},
          {'name':'Abhijit','address':'Vadgaon, Pune'},
          {'name':'Ashish','address':'Kothrud, Pune'}]
mycol.insert_many(mylist)
for doc in mycol.find():
    print(doc)

{'_id': ObjectId('64bd07fd23bfe23d766ae19b'), 'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07fd23bfe23d766ae19c'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07fd23bfe23d766ae19d'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07fd23bfe23d766ae19e'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07fd23bfe23d766ae19f'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [12]:
help(mycol.find)

Help on method find in module pymongo.collection:

find(*args: Any, **kwargs: Any) -> pymongo.cursor.Cursor[~_DocumentType] method of pymongo.collection.Collection instance
    Query the database.

    The `filter` argument is a query document that all results
    must match. For example:

    >>> db.test.find({"hello": "world"})

    only matches documents that have a key "hello" with value
    "world".  Matches can have other keys *in addition* to
    "hello". The `projection` argument is used to specify a subset
    of fields that should be included in the result documents. By
    limiting results to a certain subset of fields you can cut
    down on network traffic and decoding time.

    Raises :class:`TypeError` if any of the arguments are of
    improper type. Returns an instance of
    :class:`~pymongo.cursor.Cursor` corresponding to this query.

    The :meth:`find` method obeys the :attr:`read_preference` of
    this :class:`Collection`.

    :Parameters:
      - `filter` (optional): A query document that selects which documents
        to include in the result set. Can be an empty document to include
        all documents.
      - `projection` (optional): a list of field names that should be
        returned in the result set or a dict specifying the fields
        to include or exclude. If `projection` is a list "_id" will
        always be returned. Use a dict to exclude fields from
        the result (e.g. projection={'_id': False}).
      - `session` (optional): a
        :class:`~pymongo.client_session.ClientSession`.
      - `skip` (optional): the number of documents to omit (from
        the start of the result set) when returning the results
      - `limit` (optional): the maximum number of results to
        return. A limit of 0 (the default) is equivalent to setting no
        limit.
      - `no_cursor_timeout` (optional): if False (the default), any
        returned cursor is closed by the server after 10 minutes of
        inactivity. If set to True, the returned cursor will never
        time out on the server. Care should be taken to ensure that
        cursors with no_cursor_timeout turned on are properly closed.
      - `cursor_type` (optional): the type of cursor to return. The valid
        options are defined by :class:`~pymongo.cursor.CursorType`:

        - :attr:`~pymongo.cursor.CursorType.NON_TAILABLE` - the result of
          this find call will return a standard cursor over the result set.
        - :attr:`~pymongo.cursor.CursorType.TAILABLE` - the result of this
          find call will be a tailable cursor - tailable cursors are only
          for use with capped collections. They are not closed when the
          last data is retrieved but are kept open and the cursor location
          marks the final document position. If more data is received
          iteration of the cursor will continue from the last document
          received. For details, see the `tailable cursor documentation
          <https://www.mongodb.com/docs/manual/core/tailable-cursors/>`_.
        - :attr:`~pymongo.cursor.CursorType.TAILABLE_AWAIT` - the result
          of this find call will be a tailable cursor with the await flag
          set. The server will wait for a few seconds after returning the
          full result set so that it can capture and return additional data
          added during the query.
        - :attr:`~pymongo.cursor.CursorType.EXHAUST` - the result of this
          find call will be an exhaust cursor. MongoDB will stream batched
          results to the client without waiting for the client to request
          each batch, reducing latency. See notes on compatibility below.

      - `sort` (optional): a list of (key, direction) pairs
        specifying the sort order for this query. See
        :meth:`~pymongo.cursor.Cursor.sort` for details.
      - `allow_partial_results` (optional): if True, mongos will return
        partial results if some shards are down instead of returning an
        error.
      - `oplog_replay` (optional): **DEPRECATED** - if True, set the
        oplogReplay query flag. Default: False.
      - `batch_size` (optional): Limits the number of documents returned in
        a single batch.
      - `collation` (optional): An instance of
        :class:`~pymongo.collation.Collation`.
      - `return_key` (optional): If True, return only the index keys in
        each document.
      - `show_record_id` (optional): If True, adds a field ``$recordId`` in
        each document with the storage engine's internal record identifier.
      - `snapshot` (optional): **DEPRECATED** - If True, prevents the
        cursor from returning a document more than once because of an
        intervening write operation.
      - `hint` (optional): An index, in the same format as passed to
        :meth:`~pymongo.collection.Collection.create_index` (e.g.
        ``[('field', ASCENDING)]``). Pass this as an alternative to calling
        :meth:`~pymongo.cursor.Cursor.hint` on the cursor to tell Mongo the
        proper index to use for the query.
      - `max_time_ms` (optional): Specifies a time limit for a query
        operation. If the specified time is exceeded, the operation will be
        aborted and :exc:`~pymongo.errors.ExecutionTimeout` is raised. Pass
        this as an alternative to calling
        :meth:`~pymongo.cursor.Cursor.max_time_ms` on the cursor.
      - `max_scan` (optional): **DEPRECATED** - The maximum number of
        documents to scan. Pass this as an alternative to calling
        :meth:`~pymongo.cursor.Cursor.max_scan` on the cursor.
      - `min` (optional): A list of field, limit pairs specifying the
        inclusive lower bound for all keys of a specific index in order.
        Pass this as an alternative to calling
        :meth:`~pymongo.cursor.Cursor.min` on the cursor. ``hint`` must
        also be passed to ensure the query utilizes the correct index.
      - `max` (optional): A list of field, limit pairs specifying the
        exclusive upper bound for all keys of a specific index in order.
        Pass this as an alternative to calling
        :meth:`~pymongo.cursor.Cursor.max` on the cursor. ``hint`` must
        also be passed to ensure the query utilizes the correct index.
      - `comment` (optional): A string to attach to the query to help
        interpret and trace the operation in the server logs and in profile
        data. Pass this as an alternative to calling
        :meth:`~pymongo.cursor.Cursor.comment` on the cursor.
      - `allow_disk_use` (optional): if True, MongoDB may use temporary
        disk files to store data exceeding the system memory limit while
        processing a blocking sort operation. The option has no effect if
        MongoDB can satisfy the specified sort using an index, or if the
        blocking sort requires less memory than the 100 MiB limit. This
        option is only supported on MongoDB 4.4 and above.

    .. note:: There are a number of caveats to using
      :attr:`~pymongo.cursor.CursorType.EXHAUST` as cursor_type:

      - The `limit` option can not be used with an exhaust cursor.

      - Exhaust cursors are not supported by mongos and can not be
        used with a sharded cluster.

      - A :class:`~pymongo.cursor.Cursor` instance created with the
        :attr:`~pymongo.cursor.CursorType.EXHAUST` cursor_type requires an
        exclusive :class:`~socket.socket` connection to MongoDB. If the
        :class:`~pymongo.cursor.Cursor` is discarded without being
        completely iterated the underlying :class:`~socket.socket`
        connection will be closed and discarded without being returned to
        the connection pool.

    .. versionchanged:: 4.0
       Removed the ``modifiers`` option.
       Empty projections (eg {} or []) are passed to the server as-is,
       rather than the previous behavior which substituted in a
       projection of ``{"_id": 1}``. This means that an empty projection
       will now return the entire document, not just the ``"_id"`` field.

    .. versionchanged:: 3.11
       Added the ``allow_disk_use`` option.
       Deprecated the ``oplog_replay`` option. Support for this option is
       deprecated in MongoDB 4.4. The query engine now automatically
       optimizes queries against the oplog without requiring this
       option to be set.

    .. versionchanged:: 3.7
       Deprecated the ``snapshot`` option, which is deprecated in MongoDB
       3.6 and removed in MongoDB 4.0.
       Deprecated the ``max_scan`` option. Support for this option is
       deprecated in MongoDB 4.0. Use ``max_time_ms`` instead to limit
       server-side execution time.

    .. versionchanged:: 3.6
       Added ``session`` parameter.

    .. versionchanged:: 3.5
       Added the options ``return_key``, ``show_record_id``, ``snapshot``,
       ``hint``, ``max_time_ms``, ``max_scan``, ``min``, ``max``, and
       ``comment``.
       Deprecated the ``modifiers`` option.

    .. versionchanged:: 3.4
       Added support for the ``collation`` option.

    .. versionchanged:: 3.0
       Changed the parameter names ``spec``, ``fields``, ``timeout``, and
       ``partial`` to ``filter``, ``projection``, ``no_cursor_timeout``,
       and ``allow_partial_results`` respectively.
       Added the ``cursor_type``, ``oplog_replay``, and ``modifiers``
       options.
       Removed the ``network_timeout``, ``read_preference``, ``tag_sets``,
       ``secondary_acceptable_latency_ms``, ``max_scan``, ``snapshot``,
       ``tailable``, ``await_data``, ``exhaust``, ``as_class``, and
       slave_okay parameters.
       Removed ``compile_re`` option: PyMongo now always
       represents BSON regular expressions as :class:`~bson.regex.Regex`
       objects. Use :meth:`~bson.regex.Regex.try_compile` to attempt to
       convert from a BSON regular expression to a Python regular
       expression object.
       Soft deprecated the ``manipulate`` option.

    .. seealso:: The MongoDB documentation on `find <https://dochub.mongodb.org/core/find>`_.

In [40]:
from pymongo import *
for doc in mycol.find({},{"_id":0, 'name':1, 'address':1}):
    print(doc)

{'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'name': 'Ankush', 'address': 'Parner, Pune'}
{'name': 'Prachi', 'address': 'Katraj, Pune'}
{'name': 'Abhijit', 'address': 'Vadgaon, Pune'}
{'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [36]:
for doc in mycol.find({},{"_id":0, 'address':0}):
    print(doc)

{'name': 'Tastey Company', 'rating': 2, 'cuisine': 'Fast Food'}
{'name': 'Goat Company', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'Animal Company', 'rating': 3, 'cuisine': 'Mexican'}
{'name': 'Fish LLC', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'Big Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'name': 'Salty LLC', 'rating': 5, 'cuisine': 'Italian'}
{'name': 'State Corporation', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'Fish Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'American'}
{'name': 'Lazy LLC', 'rating': 3, 'cuisine': 'American'}
{'name': 'Fish Corporation', 'rating': 1, 'cuisine': 'Italian'}
{'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'name': 'Sandwich Company', 'rating': 2, 'cuisine': 'Pizza'}
{'name': 'Lazy Inc', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Fish LLC', 'rating': 4, 'cuisine': 'American'}
{'name': 'Salty Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'Fun Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'name': 'Tastey Inc', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'State Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'name': 'Big Inc', 'rating': 3, 'cuisine': 'Pizza'}
{'name': 'Big Company', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'Kitchen LLC', 'rating': 1, 'cuisine': 'Italian'}
{'name': 'State Company', 'rating': 2, 'cuisine': 'American'}
{'name': 'Lazy Company', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'name': 'Big LLC', 'rating': 3, 'cuisine': 'Mexican'}
{'name': 'Animal Inc', 'rating': 1, 'cuisine': 'Pizza'}
{'name': 'City LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'Goat Company', 'rating': 2, 'cuisine': 'American'}
{'name': 'Animal Company', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Tastey LLC', 'rating': 4, 'cuisine': 'American'}
{'name': 'Goat Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Tastey LLC', 'rating': 5, 'cuisine': 'American'}
{'name': 'Fish Corporation', 'rating': 2, 'cuisine': 'Pizza'}
{'name': 'Animal Corporation', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Lazy LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'name': 'Animal Company', 'rating': 1, 'cuisine': 'Pizza'}
{'name': 'City LLC', 'rating': 1, 'cuisine': 'American'}
{'name': 'State Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Lazy Company', 'rating': 5, 'cuisine': 'American'}
{'name': 'Tastey Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'name': 'State Company', 'rating': 1, 'cuisine': 'American'}
{'name': 'Big Company', 'rating': 4, 'cuisine': 'Pizza'}
{'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Bar Food'}
{'name': 'Salty Company', 'rating': 3, 'cuisine': 'American'}
{'name': 'Lazy Company', 'rating': 4, 'cuisine': 'American'}
{'name': 'Big Corporation', 'rating': 3, 'cuisine': 'American'}
{'name': 'Big LLC', 'rating': 4, 'cuisine': 'Mexican'}
{'name': 'City Inc', 'rating': 2, 'cuisine': 'American'}
{'name': 'State LLC', 'rating': 4, 'cuisine': 'Bar Food'}
{'name': 'Fish Company', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Sandwich Corporation', 'rating': 5, 'cuisine': 'Vegetarian'}
{'name': 'Salty LLC', 'rating': 4, 'cuisine': 'American'}
{'name': 'Sandwich LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Pizza Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'name': 'Animal Company', 'rating': 5, 'cuisine': 'American'}
{'name': 'Sandwich Corporation', 'rating': 4, 'cuisine': 'Bar Food'}
{'name': 'Fish Corporation', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'Sandwich LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Fun Company', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'Sandwich Company', 'rating': 5, 'cuisine': 'Mexican'}
{'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Kitchen Company', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'name': 'Kitchen LLC', 'rating': 3, 'cuisine': 'Bar Food'}
{'name': 'Animal LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'State Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'name': 'Goat Company', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'Salty Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'name': 'State Company', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'Tastey LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'Kitchen Corporation', 'rating': 2, 'cuisine': 'American'}
{'name': 'City Corporation', 'rating': 1, 'cuisine': 'Fast Food'}
{'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Vegetarian'}
{'name': 'Fun Company', 'rating': 3, 'cuisine': 'Fast Food'}
{'name': 'Lazy Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'Bar Food'}
{'name': 'Fish LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'Big Corporation', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'American'}
{'name': 'Sandwich Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'name': 'Big LLC', 'rating': 3, 'cuisine': 'Italian'}
{'name': 'Salty Company', 'rating': 1, 'cuisine': 'Sushi Bar'}
{'name': 'Goat Corporation', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'State LLC', 'rating': 1, 'cuisine': 'Vegetarian'}
{'name': 'Tastey LLC', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'Animal LLC', 'rating': 4, 'cuisine': 'American'}
{'name': 'Salty Corporation', 'rating': 1, 'cuisine': 'Pizza'}
{'name': 'City LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'Pizza Corporation', 'rating': 3, 'cuisine': 'Italian'}
{'name': 'Tastey Company', 'rating': 1, 'cuisine': 'Italian'}
{'name': 'Fish LLC', 'rating': 5, 'cuisine': 'Mexican'}
{'name': 'Goat Company', 'rating': 2, 'cuisine': 'American'}
{'name': 'Salty Inc', 'rating': 3, 'cuisine': 'Bar Food'}
{'name': 'Fun Inc', 'rating': 2, 'cuisine': 'American'}
{'name': 'Tastey Inc', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'Kitchen Inc', 'rating': 2, 'cuisine': 'American'}
{'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Fast Food'}
{'name': 'Fun Inc', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Salty LLC', 'rating': 3, 'cuisine': 'Italian'}
{'name': 'Fish LLC', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'Lazy LLC', 'rating': 3, 'cuisine': 'Pizza'}
{'name': 'Big Company', 'rating': 3, 'cuisine': 'Italian'}
{'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'name': 'Sandwich Company', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'Goat LLC', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Pizza Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Fish Inc', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'Salty Company', 'rating': 1, 'cuisine': 'American'}
{'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Big Corporation', 'rating': 1, 'cuisine': 'Sushi Bar'}
{'name': 'Fish Company', 'rating': 5, 'cuisine': 'Bar Food'}
{'name': 'Fish Corporation', 'rating': 1, 'cuisine': 'American'}
{'name': 'Sandwich LLC', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Lazy Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'name': 'Big Company', 'rating': 4, 'cuisine': 'Bar Food'}
{'name': 'Fun Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Big Inc', 'rating': 2, 'cuisine': 'Pizza'}
{'name': 'Salty Corporation', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Big Company', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'Fun LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Sandwich LLC', 'rating': 1, 'cuisine': 'Italian'}
{'name': 'Fish Company', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'State LLC', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'name': 'Sandwich Corporation', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'name': 'State LLC', 'rating': 4, 'cuisine': 'Mexican'}
{'name': 'State Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'name': 'Big Inc', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'Pizza Corporation', 'rating': 1, 'cuisine': 'Fast Food'}
{'name': 'Fun LLC', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Italian'}
{'name': 'State Inc', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Lazy LLC', 'rating': 1, 'cuisine': 'American'}
{'name': 'Big Company', 'rating': 3, 'cuisine': 'Pizza'}
{'name': 'Tastey Inc', 'rating': 2, 'cuisine': 'Fast Food'}
{'name': 'Fish LLC', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'Salty Corporation', 'rating': 3, 'cuisine': 'Bar Food'}
{'name': 'Fun LLC', 'rating': 1, 'cuisine': 'Sushi Bar'}
{'name': 'Tastey Inc', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'City LLC', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'Animal Inc', 'rating': 2, 'cuisine': 'Fast Food'}
{'name': 'Lazy Corporation', 'rating': 5, 'cuisine': 'Mexican'}
{'name': 'Goat Company', 'rating': 2, 'cuisine': 'Pizza'}
{'name': 'Pizza LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'name': 'Sandwich LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
{'name': 'Kitchen Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Animal Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Sandwich Company', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'Goat Inc', 'rating': 5, 'cuisine': 'Vegetarian'}
{'name': 'Pizza LLC', 'rating': 5, 'cuisine': 'Mexican'}
{'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'American'}
{'name': 'Kitchen LLC', 'rating': 4, 'cuisine': 'Bar Food'}
{'name': 'Lazy Inc', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'name': 'Kitchen Company', 'rating': 1, 'cuisine': 'American'}
{'name': 'Animal Company', 'rating': 1, 'cuisine': 'Mexican'}
{'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'name': 'State LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Big LLC', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Italian'}
{'name': 'Sandwich Inc', 'rating': 3, 'cuisine': 'Pizza'}
{'name': 'State Corporation', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Lazy Inc', 'rating': 3, 'cuisine': 'Fast Food'}
{'name': 'State Corporation', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'name': 'Pizza LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'name': 'Fun Corporation', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'City Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'name': 'City LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Fun Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'name': 'State LLC', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'name': 'City Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Bar Food'}
{'name': 'Tastey Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'name': 'State Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'name': 'City Company', 'rating': 3, 'cuisine': 'Fast Food'}
{'name': 'Goat Inc', 'rating': 4, 'cuisine': 'Italian'}
{'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Fast Food'}
{'name': 'Big LLC', 'rating': 3, 'cuisine': 'Bar Food'}
{'name': 'Sandwich Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'name': 'Sandwich Corporation', 'rating': 1, 'cuisine': 'American'}
{'name': 'Big Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Goat Company', 'rating': 1, 'cuisine': 'Pizza'}
{'name': 'Fish Company', 'rating': 4, 'cuisine': 'Fast Food'}
{'name': 'Animal Corporation', 'rating': 2, 'cuisine': 'Pizza'}
{'name': 'City Corporation', 'rating': 2, 'cuisine': 'Mexican'}
{'name': 'Animal Company', 'rating': 5, 'cuisine': 'Bar Food'}
{'name': 'City Company', 'rating': 2, 'cuisine': 'Italian'}
{'name': 'Lazy Inc', 'rating': 1, 'cuisine': 'Italian'}
{'name': 'State LLC', 'rating': 2, 'cuisine': 'Fast Food'}
{'name': 'Kitchen LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'name': 'Sandwich Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'name': 'Pizza LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
{'name': 'Fish LLC', 'rating': 3, 'cuisine': 'American'}
{'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Fast Food'}

In [15]:
myquery = {'address':'Vadgaon, Pune'}
for doc in mycol.find(myquery):
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}

In [16]:
myquery = {'address':'Katraj, Pune'}
for doc in mycol.find(myquery):
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}

In [17]:

adquery = {"address":{"$gt":"V"}}
for doc in mycol.find(adquery):
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}

In [18]:
adquery = {"address":{"$gt":"M"}} #this will fetch all records cause greater than A
for doc in mycol.find(adquery):
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}

In [19]:
# Filtering with the help of regex
from pymongo import *

mydb = myclient["stud_db"]
mycol = mydb["student"]
mylist = [{'name':'Milid','address':'Vadgaon, Pune'},
          {'name':'Ankush','address':'Parner, Pune'},
          {'name':'Prachi','address':'Katraj, Pune'},
          {'name':'Abhijit','address':'Vadgaon, Pune'},
          {'name':'Ashish','address':'Kothrud, Pune'}]
adquery = {"address":{"$regex":"^v"}}
for doc in mycol.find(adquery):
    print(doc)

In [20]:
for doc in mycol.find():
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae198'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [21]:
for doc in mycol.find():#("_id",-1)
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae198'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [22]:
import pymongo
from pymongo import *

In [23]:
myquery = {'address':'Vadgaon, Pune'}
new_val = {'$set':{'address':'Nanded, Kinwat'}}
mycol.update_one(myquery,new_val)
for doc in mycol.find():
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Nanded, Kinwat'}
{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Vadgaon, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae198'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [24]:
client = pymongo.MongoClient('mongodb://localhost:22017')
print(client)

MongoClient(host=['localhost:22017'], document_class=dict, tz_aware=False, connect=True)

In [25]:
myquery = {'address':{'$regex':'^V'}}
new_val = {'$set':{'address':'Nanded, Kinwat'}}
mycol.update_many(myquery,new_val)
for doc in mycol.find():
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Nanded, Kinwat'}
{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Nanded, Kinwat'}
{'_id': ObjectId('64bd07d223bfe23d766ae198'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [26]:
myresult = mycol.find().limit(3)
for doc in myresult:
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae194'), 'name': 'Milid', 'address': 'Nanded, Kinwat'}
{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}

In [27]:
myquery = {'address':'Nanded, Kinwat'}
mycol.delete_one(myquery)
for doc in mycol.find():
    print(doc)

{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae197'), 'name': 'Abhijit', 'address': 'Nanded, Kinwat'}
{'_id': ObjectId('64bd07d223bfe23d766ae198'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}

In [28]:
myquery = {'address':{'$regex':'^N'}}

x = mycol.delete_many(myquery)
for doc in mycol.find():
    print(doc)
print(x.deleted_count, " documents deleted.")

{'_id': ObjectId('64bd07d223bfe23d766ae195'), 'name': 'Ankush', 'address': 'Parner, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae196'), 'name': 'Prachi', 'address': 'Katraj, Pune'}
{'_id': ObjectId('64bd07d223bfe23d766ae198'), 'name': 'Ashish', 'address': 'Kothrud, Pune'}
1  documents deleted.

In [29]:
x = mycol.delete_many({})
print(x.deleted_count, "Documents Deleted")

3 Documents Deleted

In [30]:
mycol.drop()
print(mydb.list_collection_names())

[]

In [31]:
print(myclient.list_database_names())

['admin', 'bookdb', 'business', 'college', 'config', 'hotels', 'local', 'mydatabase', 'student_db']

In [32]:
mydb = myclient['hotels']
mydb.list_collection_names()
mycol = mydb['rests']
for doc in mycol.find():
    print(doc)

{'_id': 1, 'name': 'Tastey Company', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 2, 'name': 'Goat Company', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 3, 'name': 'Animal Company', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': 4, 'name': 'Fish LLC', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': 5, 'name': 'Big Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': 6, 'name': 'Salty LLC', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 7, 'name': 'State Corporation', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 8, 'name': 'Fish Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 9, 'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'American'}
{'_id': 10, 'name': 'Lazy LLC', 'rating': 3, 'cuisine': 'American'}
{'_id': 11, 'name': 'Fish Corporation', 'rating': 1, 'cuisine': 'Italian'}
{'_id': 12, 'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 13, 'name': 'Sandwich Company', 'rating': 2, 'cuisine': 'Pizza'}
{'_id': 14, 'name': 'Lazy Inc', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 15, 'name': 'Fish LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 16, 'name': 'Salty Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': 17, 'name': 'Fun Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 18, 'name': 'Tastey Inc', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 19, 'name': 'State Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': 20, 'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 21, 'name': 'Big Inc', 'rating': 3, 'cuisine': 'Pizza'}
{'_id': 22, 'name': 'Big Company', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 23, 'name': 'Kitchen LLC', 'rating': 1, 'cuisine': 'Italian'}
{'_id': 24, 'name': 'State Company', 'rating': 2, 'cuisine': 'American'}
{'_id': 25, 'name': 'Lazy Company', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 26, 'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 27, 'name': 'Big LLC', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': 28, 'name': 'Animal Inc', 'rating': 1, 'cuisine': 'Pizza'}
{'_id': 29, 'name': 'City LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 30, 'name': 'Goat Company', 'rating': 2, 'cuisine': 'American'}
{'_id': 31, 'name': 'Animal Company', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 32, 'name': 'Tastey LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 33, 'name': 'Goat Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 34, 'name': 'Tastey LLC', 'rating': 5, 'cuisine': 'American'}
{'_id': 35, 'name': 'Fish Corporation', 'rating': 2, 'cuisine': 'Pizza'}
{'_id': 36, 'name': 'Animal Corporation', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 37, 'name': 'Lazy LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 38, 'name': 'Animal Company', 'rating': 1, 'cuisine': 'Pizza'}
{'_id': 39, 'name': 'City LLC', 'rating': 1, 'cuisine': 'American'}
{'_id': 40, 'name': 'State Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 41, 'name': 'Lazy Company', 'rating': 5, 'cuisine': 'American'}
{'_id': 42, 'name': 'Tastey Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 43, 'name': 'State Company', 'rating': 1, 'cuisine': 'American'}
{'_id': 44, 'name': 'Big Company', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': 45, 'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Bar Food'}
{'_id': 46, 'name': 'Salty Company', 'rating': 3, 'cuisine': 'American'}
{'_id': 47, 'name': 'Lazy Company', 'rating': 4, 'cuisine': 'American'}
{'_id': 48, 'name': 'Big Corporation', 'rating': 3, 'cuisine': 'American'}
{'_id': 49, 'name': 'Big LLC', 'rating': 4, 'cuisine': 'Mexican'}
{'_id': 50, 'name': 'City Inc', 'rating': 2, 'cuisine': 'American'}
{'_id': 51, 'name': 'State LLC', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': 52, 'name': 'Fish Company', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 53, 'name': 'Sandwich Corporation', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 54, 'name': 'Salty LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 55, 'name': 'Sandwich LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 56, 'name': 'Pizza Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 57, 'name': 'Animal Company', 'rating': 5, 'cuisine': 'American'}
{'_id': 58, 'name': 'Sandwich Corporation', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': 59, 'name': 'Fish Corporation', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 60, 'name': 'Sandwich LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 61, 'name': 'Fun Company', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': 62, 'name': 'Sandwich Company', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 63, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 64, 'name': 'Kitchen Company', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': 65, 'name': 'Kitchen LLC', 'rating': 3, 'cuisine': 'Bar Food'}
{'_id': 66, 'name': 'Animal LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 67, 'name': 'State Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': 68, 'name': 'Goat Company', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': 69, 'name': 'Salty Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 70, 'name': 'State Company', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': 71, 'name': 'Tastey LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 72, 'name': 'Kitchen Corporation', 'rating': 2, 'cuisine': 'American'}
{'_id': 73, 'name': 'City Corporation', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': 74, 'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 75, 'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 76, 'name': 'Fun Company', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 77, 'name': 'Lazy Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 78, 'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': 79, 'name': 'Fish LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 80, 'name': 'Big Corporation', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': 81, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'American'}
{'_id': 82, 'name': 'Sandwich Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 83, 'name': 'Big LLC', 'rating': 3, 'cuisine': 'Italian'}
{'_id': 84, 'name': 'Salty Company', 'rating': 1, 'cuisine': 'Sushi Bar'}
{'_id': 85, 'name': 'Goat Corporation', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 86, 'name': 'State LLC', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 87, 'name': 'Tastey LLC', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 88, 'name': 'Animal LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 89, 'name': 'Salty Corporation', 'rating': 1, 'cuisine': 'Pizza'}
{'_id': 90, 'name': 'City LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 91, 'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 92, 'name': 'Pizza Corporation', 'rating': 3, 'cuisine': 'Italian'}
{'_id': 93, 'name': 'Tastey Company', 'rating': 1, 'cuisine': 'Italian'}
{'_id': 94, 'name': 'Fish LLC', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 95, 'name': 'Goat Company', 'rating': 2, 'cuisine': 'American'}
{'_id': 96, 'name': 'Salty Inc', 'rating': 3, 'cuisine': 'Bar Food'}
{'_id': 97, 'name': 'Fun Inc', 'rating': 2, 'cuisine': 'American'}
{'_id': 98, 'name': 'Tastey Inc', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 99, 'name': 'Kitchen Inc', 'rating': 2, 'cuisine': 'American'}
{'_id': 100, 'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 101, 'name': 'Fun Inc', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 102, 'name': 'Salty LLC', 'rating': 3, 'cuisine': 'Italian'}
{'_id': 103, 'name': 'Fish LLC', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 104, 'name': 'Lazy LLC', 'rating': 3, 'cuisine': 'Pizza'}
{'_id': 105, 'name': 'Big Company', 'rating': 3, 'cuisine': 'Italian'}
{'_id': 106, 'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'_id': 107, 'name': 'Sandwich Company', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 108, 'name': 'Goat LLC', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 109, 'name': 'Pizza Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 110, 'name': 'Fish Inc', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 111, 'name': 'Salty Company', 'rating': 1, 'cuisine': 'American'}
{'_id': 112, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 113, 'name': 'Big Corporation', 'rating': 1, 'cuisine': 'Sushi Bar'}
{'_id': 114, 'name': 'Fish Company', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': 115, 'name': 'Fish Corporation', 'rating': 1, 'cuisine': 'American'}
{'_id': 116, 'name': 'Sandwich LLC', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 117, 'name': 'Lazy Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 118, 'name': 'Big Company', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': 119, 'name': 'Fun Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 120, 'name': 'Big Inc', 'rating': 2, 'cuisine': 'Pizza'}
{'_id': 121, 'name': 'Salty Corporation', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 122, 'name': 'Big Company', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 123, 'name': 'Fun LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 124, 'name': 'Sandwich LLC', 'rating': 1, 'cuisine': 'Italian'}
{'_id': 125, 'name': 'Fish Company', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 126, 'name': 'State LLC', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': 127, 'name': 'Sandwich Corporation', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 128, 'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': 129, 'name': 'State LLC', 'rating': 4, 'cuisine': 'Mexican'}
{'_id': 130, 'name': 'State Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 131, 'name': 'Big Inc', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 132, 'name': 'Pizza Corporation', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': 133, 'name': 'Fun LLC', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 134, 'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Italian'}
{'_id': 135, 'name': 'State Inc', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 136, 'name': 'Lazy LLC', 'rating': 1, 'cuisine': 'American'}
{'_id': 137, 'name': 'Big Company', 'rating': 3, 'cuisine': 'Pizza'}
{'_id': 138, 'name': 'Tastey Inc', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 139, 'name': 'Fish LLC', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 140, 'name': 'Salty Corporation', 'rating': 3, 'cuisine': 'Bar Food'}
{'_id': 141, 'name': 'Fun LLC', 'rating': 1, 'cuisine': 'Sushi Bar'}
{'_id': 142, 'name': 'Tastey Inc', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 143, 'name': 'City LLC', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 144, 'name': 'Animal Inc', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 145, 'name': 'Lazy Corporation', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 146, 'name': 'Goat Company', 'rating': 2, 'cuisine': 'Pizza'}
{'_id': 147, 'name': 'Pizza LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 148, 'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Sushi Bar'}
{'_id': 149, 'name': 'Sandwich LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 150, 'name': 'Kitchen Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 151, 'name': 'Animal Inc', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 152, 'name': 'Sandwich Company', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 153, 'name': 'Goat Inc', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 154, 'name': 'Pizza LLC', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 155, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 156, 'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'American'}
{'_id': 157, 'name': 'Kitchen LLC', 'rating': 4, 'cuisine': 'Bar Food'}
{'_id': 158, 'name': 'Lazy Inc', 'rating': 2, 'cuisine': 'Sushi Bar'}
{'_id': 159, 'name': 'Kitchen Company', 'rating': 1, 'cuisine': 'American'}
{'_id': 160, 'name': 'Animal Company', 'rating': 1, 'cuisine': 'Mexican'}
{'_id': 161, 'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'_id': 162, 'name': 'State LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 163, 'name': 'Big LLC', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 164, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Italian'}
{'_id': 165, 'name': 'Sandwich Inc', 'rating': 3, 'cuisine': 'Pizza'}
{'_id': 166, 'name': 'State Corporation', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 167, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 168, 'name': 'Lazy Inc', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 169, 'name': 'State Corporation', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 170, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 171, 'name': 'Pizza LLC', 'rating': 1, 'cuisine': 'Bar Food'}
{'_id': 172, 'name': 'Fun Corporation', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 173, 'name': 'City Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': 174, 'name': 'City LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 175, 'name': 'Fun Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 176, 'name': 'State LLC', 'rating': 4, 'cuisine': 'Sushi Bar'}
{'_id': 177, 'name': 'City Inc', 'rating': 4, 'cuisine': 'Pizza'}
{'_id': 178, 'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Bar Food'}
{'_id': 179, 'name': 'Tastey Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 180, 'name': 'State Inc', 'rating': 3, 'cuisine': 'Mexican'}
{'_id': 181, 'name': 'City Company', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 182, 'name': 'Goat Inc', 'rating': 4, 'cuisine': 'Italian'}
{'_id': 183, 'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': 184, 'name': 'Big LLC', 'rating': 3, 'cuisine': 'Bar Food'}
{'_id': 185, 'name': 'Sandwich Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 186, 'name': 'Sandwich Corporation', 'rating': 1, 'cuisine': 'American'}
{'_id': 187, 'name': 'Big Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 188, 'name': 'Goat Company', 'rating': 1, 'cuisine': 'Pizza'}
{'_id': 189, 'name': 'Fish Company', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': 190, 'name': 'Animal Corporation', 'rating': 2, 'cuisine': 'Pizza'}
{'_id': 191, 'name': 'City Corporation', 'rating': 2, 'cuisine': 'Mexican'}
{'_id': 192, 'name': 'Animal Company', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': 193, 'name': 'City Company', 'rating': 2, 'cuisine': 'Italian'}
{'_id': 194, 'name': 'Lazy Inc', 'rating': 1, 'cuisine': 'Italian'}
{'_id': 195, 'name': 'State LLC', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 196, 'name': 'Kitchen LLC', 'rating': 2, 'cuisine': 'Bar Food'}
{'_id': 197, 'name': 'Sandwich Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 198, 'name': 'Pizza LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 199, 'name': 'Fish LLC', 'rating': 3, 'cuisine': 'American'}
{'_id': 200, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Fast Food'}

In [33]:
from pymongo import MongoClient
myclient = MongoClient(port=27017)
myclient.list_database_names()
mydb = myclient['hotels']
mydb.list_collection_names()
mycol = mydb['rests']


myquery = {'cuisine':'Vegetarian'}
count = mycol.count_documents(myquery)
print("No. of documents having cuisine = Vegetarian :", count)
for doc in mycol.find(myquery):
    print(doc)

No. of documents having cuisine = Vegetarian : 30
{'_id': 8, 'name': 'Fish Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 12, 'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 17, 'name': 'Fun Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 20, 'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 37, 'name': 'Lazy LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 40, 'name': 'State Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 42, 'name': 'Tastey Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 53, 'name': 'Sandwich Corporation', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 56, 'name': 'Pizza Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 60, 'name': 'Sandwich LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 66, 'name': 'Animal LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 75, 'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 82, 'name': 'Sandwich Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 86, 'name': 'State LLC', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 109, 'name': 'Pizza Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 112, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 123, 'name': 'Fun LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 130, 'name': 'State Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 147, 'name': 'Pizza LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 149, 'name': 'Sandwich LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 150, 'name': 'Kitchen Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 153, 'name': 'Goat Inc', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 155, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 162, 'name': 'State LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 170, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 172, 'name': 'Fun Corporation', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 179, 'name': 'Tastey Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 187, 'name': 'Big Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 197, 'name': 'Sandwich Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 198, 'name': 'Pizza LLC', 'rating': 3, 'cuisine': 'Vegetarian'}