In [22]:
#6. Write a python program to create a MongoDB database named ‘college’, collection named
# ‘student’ and insert one document in the collection ‘student’ having following structure.
# {“_id”: 1, “name”: “Ashok Deshpande”, “year”: “MCA-I”, “address”: “Vadgaon - Pune”}
# Display the inserted document in the collection ‘student’.


import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017")


mydb = client['college']
mycol = mydb['student']

s1 = {
    "_id": 1,
    "name": "Ashok Deshpande",
    "year": "MCA-I",
    "address": "Vadgaon - Pune"
}

mycol.insert_one(s1)
print("Data Inserted...")

Data Inserted...

In [23]:
for doc in mycol.find({},{"_id":0}):
    print(doc)

{'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}

In [24]:
#6. Write a python program to insert many documents in a MongoDB collection namedv‘student’.
# {“_id”: 2, “name”: “Abhijeet Kulkarni”, “year”: “MCA-I”, “address”: “Malegaon - Nashik”}
# {“_id”: 3, “name”: “Usha Shinde”, “year”: “MCA-I”, “address”: “Lasalgaon - Nashik”}
# {“_id”: 4, “name”: “Akshay Kumar”, “year”: “MCA-I”, “address”: “Dadar - Mumbai”}
# {“_id”: 5, “name”: “Amisha Patel”, “year”: “MCA-I”, “address”: “Lasalgaon - Nashik”}
# Display all the documents of the collection ‘student’ after insert operation.

import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017")

mydb = client['college']
mycol = mydb['student']

s1 = [
    {"_id": 2, "name": "Abhijeet Kulkarni", "year": "MCA-I", "address": "Malegaon - Nashik"},
    {"_id": 3, "name": "Usha Shinde", "year": "MCA-I", "address": "Lasalgaon - Nashik"},
    {"_id": 4, "name": "Akshay Kumar", "year": "MCA-I", "address": "Dadar - Mumbai"},
    {"_id": 5, "name": "Amisha Patel", "year": "MCA-I", "address": "Lasalgaon - Nashik"}
]

mycol.insert_many(s1)

for doc in mycol.find({},{"_id":0}):
    print(doc)

{'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}
{'name': 'Abhijeet Kulkarni', 'year': 'MCA-I', 'address': 'Malegaon - Nashik'}
{'name': 'Usha Shinde', 'year': 'MCA-I', 'address': 'Lasalgaon - Nashik'}
{'name': 'Akshay Kumar', 'year': 'MCA-I', 'address': 'Dadar - Mumbai'}
{'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Lasalgaon - Nashik'}

In [35]:
#8. Write a python program to update many documents in a MongoDB collection named
# ‘student’ having address = “Lasalgaon – Nashik” with new address = “Hadapsar - Pune”.
# Display all documents of the collection named ‘student’ before and after updating the documents.

import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017")

mydb = client['college']
mycol = mydb['student']

myquery = {'address':'Lasalgaon - Nashik'}
new_val = {'$set':{'address':'Hadapsar - Pune'}}
mycol.update_many(myquery,new_val)
for doc in mycol.find({}, {"id":0}):
    print(doc)

{'_id': 1, 'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}
{'_id': 2, 'name': 'Abhijeet Kulkarni', 'year': 'MCA-I', 'address': 'Malegaon - Nashik'}
{'_id': 3, 'name': 'Usha Shinde', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}
{'_id': 4, 'name': 'Akshay Kumar', 'year': 'MCA-I', 'address': 'Dadar - Mumbai'}
{'_id': 5, 'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}

In [36]:
#9. Write a python program to delete documents from a MongoDB collection named ‘student’
# having address = “Hadapsar - Pune”.
# Display all the documents of the collection named ‘student’ before and after deleting
# documents.

import pymongo

client = pymongo.MongoClient("mongodb://localhost:27017")

mydb = client['college']
mycol = mydb['student']

myquery = {'address':'Hadapsar - Pune'}
mycol.delete_one(myquery)
for doc in mycol.find({}, {"id":0}):
    print(doc)

{'_id': 1, 'name': 'Ashok Deshpande', 'year': 'MCA-I', 'address': 'Vadgaon - Pune'}
{'_id': 2, 'name': 'Abhijeet Kulkarni', 'year': 'MCA-I', 'address': 'Malegaon - Nashik'}
{'_id': 4, 'name': 'Akshay Kumar', 'year': 'MCA-I', 'address': 'Dadar - Mumbai'}
{'_id': 5, 'name': 'Amisha Patel', 'year': 'MCA-I', 'address': 'Hadapsar - Pune'}

In [26]:
#10. Import the given collection data file ‘restaurants.json’ in MongoDB database named
# ‘business’ and collection named ‘reviews’.

# a. Write a python program to display all documents from a MongoDB named ‘business’ 
# and collection named ‘reviews’ having “cuisine” = “Vegetarian”. Also
# display the count of documents having “cuisine” = “Vegetarian”.


from pymongo import *
myClient=MongoClient(port=27017)
mydb=myClient['business']
myCol=mydb['reviews']
myquery={"cuisine" : "Vegetarian"}
x= myCol.find(myquery)
for i in x:
    print(i)
print(f"count of documents having cuisine vegetarian = {myCol.count_documents(myquery)}")

{'_id': 8, 'name': 'Fish Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 12, 'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 17, 'name': 'Fun Corporation', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 20, 'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 37, 'name': 'Lazy LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 40, 'name': 'State Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 42, 'name': 'Tastey Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 53, 'name': 'Sandwich Corporation', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 56, 'name': 'Pizza Company', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 60, 'name': 'Sandwich LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 66, 'name': 'Animal LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 75, 'name': 'Pizza Inc', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 82, 'name': 'Sandwich Inc', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 86, 'name': 'State LLC', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 109, 'name': 'Pizza Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 112, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 123, 'name': 'Fun LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 130, 'name': 'State Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 147, 'name': 'Pizza LLC', 'rating': 4, 'cuisine': 'Vegetarian'}
{'_id': 149, 'name': 'Sandwich LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
{'_id': 150, 'name': 'Kitchen Company', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 153, 'name': 'Goat Inc', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 155, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 162, 'name': 'State LLC', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 170, 'name': 'Kitchen Corporation', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 172, 'name': 'Fun Corporation', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 179, 'name': 'Tastey Inc', 'rating': 1, 'cuisine': 'Vegetarian'}
{'_id': 187, 'name': 'Big Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 197, 'name': 'Sandwich Inc', 'rating': 2, 'cuisine': 'Vegetarian'}
{'_id': 198, 'name': 'Pizza LLC', 'rating': 3, 'cuisine': 'Vegetarian'}
count of documents having cuisine vegetarian = 30

In [27]:
#b. Write a python program to display all documents from a MongoDB named ‘business’ 
# and collection named ‘reviews’ having “rating” = 5. Also display the count of documents having “rating” = 5.

from pymongo import *
myClient=MongoClient(port=27017)
mydb=myClient['business']
myCol=mydb['reviews']
myquery={"rating": 5}
x=myCol.find(myquery)
for i in x:
    print(i)
print(f"count of documents having rating 5 = {myCol.count_documents(myquery)}")

{'_id': 6, 'name': 'Salty LLC', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 26, 'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 34, 'name': 'Tastey LLC', 'rating': 5, 'cuisine': 'American'}
{'_id': 41, 'name': 'Lazy Company', 'rating': 5, 'cuisine': 'American'}
{'_id': 53, 'name': 'Sandwich Corporation', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 57, 'name': 'Animal Company', 'rating': 5, 'cuisine': 'American'}
{'_id': 62, 'name': 'Sandwich Company', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 69, 'name': 'Salty Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 74, 'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 78, 'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': 94, 'name': 'Fish LLC', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 106, 'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'_id': 114, 'name': 'Fish Company', 'rating': 5, 'cuisine': 'Bar Food'}
{'_id': 117, 'name': 'Lazy Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 145, 'name': 'Lazy Corporation', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 153, 'name': 'Goat Inc', 'rating': 5, 'cuisine': 'Vegetarian'}
{'_id': 154, 'name': 'Pizza LLC', 'rating': 5, 'cuisine': 'Mexican'}
{'_id': 156, 'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'American'}
{'_id': 161, 'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'_id': 175, 'name': 'Fun Corporation', 'rating': 5, 'cuisine': 'Italian'}
{'_id': 185, 'name': 'Sandwich Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 192, 'name': 'Animal Company', 'rating': 5, 'cuisine': 'Bar Food'}
count of documents having rating 5 = 22

In [28]:
#c. Write a python program to display all documents from a MongoDB named ‘business’ 
# and collection named ‘reviews’ having “cuisine” = “American”. Also display the 
# count of documents having “cuisine” = “American”.

from pymongo import *
myClient=MongoClient(port=27017)
mydb=myClient['business']
myCol=mydb['reviews']
myquery={"cuisine" : "American"}
x=myCol.find(myquery)
for i in x:
    print(i)
print(f"count of documents having cuisine American = {myCol.count_documents(myquery)}")

{'_id': 9, 'name': 'Lazy Corporation', 'rating': 3, 'cuisine': 'American'}
{'_id': 10, 'name': 'Lazy LLC', 'rating': 3, 'cuisine': 'American'}
{'_id': 15, 'name': 'Fish LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 24, 'name': 'State Company', 'rating': 2, 'cuisine': 'American'}
{'_id': 30, 'name': 'Goat Company', 'rating': 2, 'cuisine': 'American'}
{'_id': 32, 'name': 'Tastey LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 34, 'name': 'Tastey LLC', 'rating': 5, 'cuisine': 'American'}
{'_id': 39, 'name': 'City LLC', 'rating': 1, 'cuisine': 'American'}
{'_id': 41, 'name': 'Lazy Company', 'rating': 5, 'cuisine': 'American'}
{'_id': 43, 'name': 'State Company', 'rating': 1, 'cuisine': 'American'}
{'_id': 46, 'name': 'Salty Company', 'rating': 3, 'cuisine': 'American'}
{'_id': 47, 'name': 'Lazy Company', 'rating': 4, 'cuisine': 'American'}
{'_id': 48, 'name': 'Big Corporation', 'rating': 3, 'cuisine': 'American'}
{'_id': 50, 'name': 'City Inc', 'rating': 2, 'cuisine': 'American'}
{'_id': 54, 'name': 'Salty LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 57, 'name': 'Animal Company', 'rating': 5, 'cuisine': 'American'}
{'_id': 72, 'name': 'Kitchen Corporation', 'rating': 2, 'cuisine': 'American'}
{'_id': 81, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'American'}
{'_id': 88, 'name': 'Animal LLC', 'rating': 4, 'cuisine': 'American'}
{'_id': 95, 'name': 'Goat Company', 'rating': 2, 'cuisine': 'American'}
{'_id': 97, 'name': 'Fun Inc', 'rating': 2, 'cuisine': 'American'}
{'_id': 99, 'name': 'Kitchen Inc', 'rating': 2, 'cuisine': 'American'}
{'_id': 106, 'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'_id': 111, 'name': 'Salty Company', 'rating': 1, 'cuisine': 'American'}
{'_id': 115, 'name': 'Fish Corporation', 'rating': 1, 'cuisine': 'American'}
{'_id': 136, 'name': 'Lazy LLC', 'rating': 1, 'cuisine': 'American'}
{'_id': 156, 'name': 'Sandwich LLC', 'rating': 5, 'cuisine': 'American'}
{'_id': 159, 'name': 'Kitchen Company', 'rating': 1, 'cuisine': 'American'}
{'_id': 161, 'name': 'Kitchen Corporation', 'rating': 5, 'cuisine': 'American'}
{'_id': 186, 'name': 'Sandwich Corporation', 'rating': 1, 'cuisine': 'American'}
{'_id': 199, 'name': 'Fish LLC', 'rating': 3, 'cuisine': 'American'}
count of documents having cuisine American = 31

In [29]:
#d. Write a python program to display all documents from a MongoDB named ‘business’ 
# and collection named ‘reviews’ having “cuisine” = “Fast Food”. Also display the 
# count of documents having “cuisine” = “Fast Food”.

from pymongo import *
myClient=MongoClient(port=27017)
mydb=myClient['business']
myCol=mydb['reviews']
myquery={'cuisine' : 'Fast Food'}
x=myCol.find(myquery)
for i in x:
    print(i)
print(f'count of documents having cuisine Fast Food = {myCol.count_documents(myquery)}')

{'_id': 1, 'name': 'Tastey Company', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 26, 'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 67, 'name': 'State Company', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': 73, 'name': 'City Corporation', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': 74, 'name': 'Animal Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 76, 'name': 'Fun Company', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 100, 'name': 'Goat Corporation', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 132, 'name': 'Pizza Corporation', 'rating': 1, 'cuisine': 'Fast Food'}
{'_id': 138, 'name': 'Tastey Inc', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 144, 'name': 'Animal Inc', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 168, 'name': 'Lazy Inc', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 181, 'name': 'City Company', 'rating': 3, 'cuisine': 'Fast Food'}
{'_id': 183, 'name': 'Fun Inc', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': 185, 'name': 'Sandwich Inc', 'rating': 5, 'cuisine': 'Fast Food'}
{'_id': 189, 'name': 'Fish Company', 'rating': 4, 'cuisine': 'Fast Food'}
{'_id': 195, 'name': 'State LLC', 'rating': 2, 'cuisine': 'Fast Food'}
{'_id': 200, 'name': 'Pizza LLC', 'rating': 2, 'cuisine': 'Fast Food'}
count of documents having cuisine Fast Food = 17