In [1]:
class Student:
    schname = "SIOM"

In [7]:
s1 = Student()
s2 = Student()

In [5]:
s1.schname

'SIOM'

In [8]:
s2.schname

'SIOM'

In [10]:
s1.schname = "Rajendra"

In [11]:
s2.schname = "gayatri"

In [12]:
s1.schname

'Rajendra'

In [13]:
s2.schname

'gayatri'

In [14]:
Student.schname

'SIOM'

#### -changing the value of class attribute using class name would change it across all instances.
#### -However, changing class attribute value using instance will notreflect to other instances or class

In [15]:
Student.schname = "xyz"

In [16]:
s1.schname

'Rajendra'

### Note:-
    
    --> : operator after class name allows you to define class members.
    
    --> the following are class members
    
    1. class attribute
    2. constructor
    3. instance attribute
    4. properties
    5. class methods

In [1]:
class Emp:
    count = 0
    def __init__(self, id, name, sal):
        self.id = id
        self.name = name
        self.sal = sal
        Emp.count += 1
        print("Constructor method called...")
        print(id, name, sal)

In [2]:
E = Emp(101,"Geet",10)

Constructor method called...
101 Geet 10

In [8]:
E.id

101

In [9]:
E.name

'Geet'

In [10]:
E.sal

10

In [11]:
E.count

1

In [12]:
e1 = Emp(102,'sanjay',1000)

Constructor method called...

In [13]:
e1.id

102

In [14]:
e1.sal

1000

In [15]:
e1.name

'sanjay'

In [16]:
e1.count

2

## constructor

-the constructor must have special name __init__() and a special parameter called self.
-the constructor is used to define the attributes of an instance and assign values to them.

In [31]:
class Student:
    count = 0
    def __init__(self,name="guest",rollno=69,age=22):
        print("constructor method invoked")
        self.count += 1
        self.name = name
        self.rollno = rollno
        self.age = age

In [32]:
s1 = Student()
#s1 = Student('bhavik',221,19)

constructor method invoked

In [33]:
s1.name

'guest'

In [34]:
s1.age

22

## Destructor
-Destructor is also a method gets executed automatically when an object exit from the scope.
 "__del__()"

In [28]:
class Sample:
    count = 0
    def __init__(self,var):
        self.var = var
        Sample.count += 1
        print(f"value of object: {self.var}")
        print(f"value of count = {Sample.count}")
        
    def __del__(self):
        Sample.count -= 1
        print(f"value of object: {self.var}... Exiting from the scope")
        print(f"value of count: {Sample.count}")

In [29]:
s = Sample(20)

value of object: 20
value of count = 1
value of object: 20... Exiting from the scope
value of count: 0

## Class properties:


-the property() method in a python provides an interface to instance attributes.
-it Encapsulates instance attributes and provides a property ,same a as java and c#.
-the property() methods takes the get , set , delete.

In [35]:
class Student:
    def __init__(self):
        self.__name = ' '
        
    def setname(self,name):
        print("setname() called ")
        self.__name = name
        
    def getname(self,name):
        print("getname() called ")
        return self.__name
    
    name = property(getname, setname)

In [36]:
sn = Student()

In [37]:
sn.name = "tushar"

setname() called

In [2]:
class Emp:
    def __init__(self,name):
        self.__name = name
        
    @property
    def name(self):
        return self.__name
    
    @name.setter
    def name(self,value):
        self.__name = value
        print("setter().. called")
    @name.getter
    def name(self):
        print("getter().. called")
        return self.__name
    @name.deleter
    def name(self):
        print("deleter().. called")
        del self.__name

In [3]:
e3 = Emp('bahadur')

In [4]:
e3.name= 'laal hai'

setter().. called

In [5]:
e3.name

getter().. called

'laal hai'

In [57]:
del e3.name

deleter().. called

In [6]:
class Emp:
    def __init__(self,name):
        self.__name = name
        
    @property
    def name(self):
        return self.__name
    
    @name.setter
    def name(self,value):
        if value.isalpha():
            self.__name = value
        else:
            print("pleasee enter valid name...")
    @name.getter
    def name(self):
        print("getter().. called")
        return self.__name
    @name.deleter
    def name(self):
        print("deleter().. called")
        del self.__name

In [7]:
e = Emp('chunky')
e.name = 'dweiwed'
e.name

getter().. called

'dweiwed'

In [35]:
class Product:
    def __init__(self,price):
        self.__price = price
        
    @property
    def price(self):
        return self.__price
    
    @price.setter
    def price(self,amount):
        if amount > 0 and type(amount) == float:
            self.__price = amount
        else:
            print("Enter valid price")

In [29]:
p = Product(-233)

In [31]:
p.price = 1000

Enter valid price

In [36]:
p.price = 190.54

Enter valid price

In [38]:
p1 = Product(100.76)
p1.price = 1000

Enter valid price

In [39]:
p1.price = 100.43

In [ ]:
#class methods

In [40]:
class Student:
    def __init__(self, roll,name,age):
        self.roll = roll
        self.name = name
        self.age =  age
    def stud_info(self):
        print(f"Student rollno. = {self.roll}")
        print(f"Student Name = {self.name}")
        print(f"Student age = {self.age}")

In [41]:
s= Student(101,"Tushar",21)

In [42]:
s.Student

AttributeError: 'Student' object has no attribute 'Student'

In [43]:
s.stud_info()

Student rollno. = 101
Student Name = Tushar
Student age = 21

In [44]:
class Emp:
    def __init__(self, name,sal,id):
        self.name = name
        self.sal= sal
        self.id =  id
    def emp_info(self):
        print(f"Emp name = {self.name}")
        print(f"Emp sal = {self.sal}")
        print(f"Emp id = {self.id}")

In [46]:
e=Emp("kanchi",1000000,1011)

In [47]:
e.emp_info()

Emp name = kanchi
Emp sal = 1000000
Emp id = 1011

In [51]:
del e.name

AttributeError: name

In [52]:
del s

NameError: name 's' is not defined

In [53]:
del s

NameError: name 's' is not defined

In [ ]:
#find toral and avg of students

In [77]:
class students:
    sum=0
    avg=0
    
    def __init__(self, name, roll, m1, m2, m3, m4):
        self.name = name
        self.roll = roll
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        self.m4 = m4
    def total(self):
        sum = self.m1+self.m2+self.m3+self.m4
        return sum
    def avg(self):
        avg = sum/4
        return avg

In [78]:
sn = students("Ajay", 101, 10, 10, 10, 10)

In [79]:
sn.total()

40

In [80]:
sn.avg()

TypeError: unsupported operand type(s) for /: 'builtin_function_or_method' and 'int'

In [82]:
class Odd_even:
    
    def check(self,num):
        if num % 2 ==0:
            print(f'{num} is an even number')
        else:
            print(f'{num} is an odd number')

In [84]:
o = Odd_even()

In [85]:
o.check(5)

5 is an odd number